*{
    background-color: chocolate;
    box-sizing: border-box;
    text-decoration: none;
}

.header__one{
    color: burlywood;
}
.header{
    color: brown;
}
.images {
    display: flex;
    justify-content: flex-start;
   
}

.images li{
    list-style: none;
}
.images img{
    height: 400px;
    width: 400px;
}